<html>
<head>
	<title>Sign Up Form</title>
	<link rel="stylesheet" href="css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">
	<link rel="stylesheet" href="css/signup.css" type="text/css" media="screen" title="no title" charset="utf-8">
</head>
<body>

	<form action="/signin" method="post">
	<% if(hasErrors){ %>
   <div class="alert">
   <%= messages %>
   </div>
   <% }%>
	<form action="/signin" method="post">
		<p>
			<label for="username">Username</label>
			<input id="username" name="email" type="text" !required>
		</p>
		<p>
			<label for="password">Password</label>
			<input id="password" name="password" type="password">
			<span>Enter a password longer than 8 characters</span>
		</p>
	
        <input type="hidden" name="_csrf" value="<%= csrfToken %>">
		<p>
			<input type="submit" value="SUBMIT" id="submit">
		</p>
	</form>
	<script src="http://code.jquery.com/jquery-1.11.0.min.js" type="text/javascript" charset="utf-8"></script>
	
</body>
</html>